/* GENERAL SETTINGS */
body {
    font-family: 'Roboto', sans-serif;
}

/* NAVEGATOR BAR */
.nav-color {
    color: #A9A9B3;
}

.navbar-nav {
    padding-right: 25%;
    height: 50px;
    
}

.nav-link:hover {
    color: #d9d9e2;
    transform: scale(1.07);
}

.nav-link:focus {
    color: #d9d9e2;
    transform: scale(1.07);
}


.navbar-brand {
    padding-left: 20%;
}

.navbar-brand:hover {
    color: #d9d9d9;

}

.logo__cursor {
    display: inline-block;
    width: 2px;
    height: 1.2rem;
    background: #208533;
    border-radius: 1px;
    animation:  twinkle 0.5s infinite alternate;
}
@keyframes twinkle {
    0%{
        opacity: 0.8;
    }
    100%{
        opacity:0;
    }
}

/* BODY PAGE */

a {
    color: #A9A9B3;
}

a:hover {
    color: #A9A9B3;
}

.full-screen {
    min-height: 1100px;
}

.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
}

.list-inline-item {
    margin-top: 20px;
    font-size: 35px;
}

.icons {
    color: #d9d9d9;
}

.icons:hover {
    color: #d9d9d9;
    transform: scale(1.1);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.logo {
    margin-bottom: 40px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}
.logo:hover {
    transform: scale(1.07);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

/* FOOTER PAGE */

#footer {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 170px;
}

.footer-items {
    padding-right: 40px;
}

.footer-link {
    padding: 5px;
}



