/* GENERAL SETTINGS */
body {
    font-family: 'Roboto', sans-serif;
    color: #A9A9B3;
    
}

/* NAVEGATOR BAR */
.nav-color {
    color: #A9A9B3;
}

.navbar {
    background-color: #1b1c1d; 
    position:fixed; 
    width: 100%; 
    z-index: 100;
}

.navbar-nav {
    padding-right: 25%;
}

.nav-link:hover {
    color: #d9d9e2;
    transform: scale(1.07);
}

.nav-link:focus {
    color: #d9d9e2;
    transform: scale(1.07);
}


.navbar-brand {
    padding-left: 20%;
}

.navbar-brand:hover {
    color: #d9d9d9;

}

.logo__cursor {
    display: inline-block;
    width: 2px;
    height: 1.2rem;
    background: #208533;
    border-radius: 1px;
    animation:  twinkle 0.5s infinite alternate;
}
@keyframes twinkle {
    0%{
        opacity: 0.8;
    }
    100%{
        opacity:0;
    }
}

.navbar-collapse {
    text-align: right;

}


/* BODY PAGE */

a {
    color: #A9A9B3;
}

a:hover {
    color: #ececf1;
}

.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
    
}

.list-inline-item {
    margin-top: 20px;
    font-size: 35px;
}

.icons {
    color: #A9A9B3;
}

.icons:hover {
    color: #e0dfdf;
    transform: scale(1.1);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.logo {
    margin-bottom: 40px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}
.logo:hover {
    transform: scale(1.07);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

/* ABOUT */

.soft-icon {
    height: 35px;
    margin-bottom: 20px;
}

.pad-about {
    padding-top: 20px;
}

/* PORTFOLIO */

.portfolio {
    text-decoration: none;
    justify-content: center;
    display: inline-flex;
    height: 200px;
}

.portfolio.h3 {
    padding-left: 100px;
}


/* CARDS */


.ui-card{
	max-width: 400px;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease-out;
	background:radial-gradient(#111 50%, #000 100%);
}

.ui-card img{
	transition: all 0.3s ease-out;
}
.ui-card:hover img{
	transform: scale(1.2) translateY(-20px); 
	opacity: 0.3
}
.ui-card .description{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 18px;
}
.ui-card .description h3{
	font-weight: 700;
	font-size: 32px;
	margin: 0 0 10px;
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.2s ease-out;

}
.ui-card .description p{
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.2s ease-out 0.2s;
}
.ui-card .description a{
	color: #fff;
	background:#050505;
	display: inline-block;
	padding: 10px 15px;
	border-radius: 5px;
	text-decoration: none;
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.2s ease-out 0.4s;
}
.ui-card .description a:hover{
	background:#414141;
}
.ui-card:hover .description h3{
	opacity: 1;
	transform: translateY(0px);
}
.ui-card:hover .description p{
	opacity: 1;
	transform: translateY(0px);
}
.ui-card:hover .description a{
	opacity: 1;
	transform: translateY(0px);
}





/* FOOTER PAGE */

#footer {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 170px;
}

.footer-items {
    padding-right: 40px;
}

.footer-link {
    padding: 5px;
}



